.house-listing {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.filters {
  position: fixed;
  width: 20vw;
  height: 80vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.25em;
}

.filters label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

.filters input,
.filters select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.house-results {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  max-width: 75vw;
  margin-left: 22vw;
}

.house-results h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
  text-align: center;
}

.search-house-name {
  position: absolute;
  top: 2vh;
  right: 2vw;
  display: flex;
  align-items: center;
  gap: 3px;
}

.search-house-name input {
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #ddd;
}

.search-house-name button{
  background-color: transparent;
  color: black;
  border: none;
  transform: scale(1.3);
}

.house-item {
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.house-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.house-item h2 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
}

.house-item p {
  color: #666;
  font-size: 0.95em;
}

.house-item img {
  width: 100%; 
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  display: block;
  margin-bottom: 5px;
}

.link-detail{
  text-decoration: none;
}
