*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-house-name {
  position: absolute;
  top: 2vh;
  right: 2vw;
  display: flex;
  align-items: center;
  gap: 3px;
}

.search-house-name input {
  scale: .9;
  border-radius: 25px;
  border: 1px solid #ddd;
  margin-top: 0.5vw;
}
